<ul class="top_menu">
    <li><a href="#/">На главную</a></li
    ><li><a href="#/about">Обо мне</a></li
    ><li><a href="#/experience">Опыт работы</a></li
    ><li><a href="#/abilities">Навыки</a></li
    ><li><a href="#/contacts">Контакты</a></li>
</ul>

<div class="social">
    <a href="https://twitter.com/Esssss89"><img src="files/img/social_twitter.jpg" alt="Twittere"></a>
    <a href="https://www.facebook.com/profile.php?id=100002092938994"><img src="files/img/social_fb.jpg" alt="Facebook"></a>
</div>